@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas{
    background-color: #111;
}

button{
    width: 20%;
    padding: 3px;
    margin: 3%;
    border: 10px, solid, black;
    border-radius: 5%;
    background-color: white;
    font-size: large;
    
}

button a{
    text-decoration: none;
    padding: 5px;
    color: #111;  
}
